<h1>Add a car</h1>
<form action='/car_added' method='post'>
  <label for="new-model">Enter Model</label>
  <input id="new-model" name="new-model" type="text">
  <label for="new-price">Enter Price</label>
  <input id="new-price" name="new-price" type="text">
  <label for="new-miles">Enter Mileage</label>
  <input id="new-miles" name="new-miles" type="text">
  <button type="submit">Submit</button>
</form>
