<h1>You've added your car!</h1>
<p>@Model.GetMakeModel()</p>
<p>@Model.GetPrice()</p>
<p>@Model.GetMiles()</p>
<p><a href='/'>Add another car</a></p>
<p><a href='/view_all_cars'>View all cars</a></p>
