<h1>Cars for sale</h1>
<ul>
  @foreach (var car in Model)
  {
    <li>Car: @car.GetMakeModel()</li>
    <li>Price: $@car.GetPrice()</li>
    <li>Mileage: @car.GetMiles()</li>
    <br>
  }
</ul>
<p><a href='/'>Add another car</a></p>
<form action='/cars_cleared' method='post'>
  <button type='submit' name='button'>Clear all cars</button>
</form>
